#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

build: build-stamp

build-stamp:
	dh_testdir
	
	QUILT_PATCHES=debian/patches quilt push -a || test $$? = 2

	#Hideous hack, needs better fix.
	cp $(CURDIR)/admin/acinclude.m4.in $(CURDIR)/acinclude.m4
	cat $(CURDIR)/admin/lineak.m4.in >> $(CURDIR)/acinclude.m4

	mkdir $(CURDIR)/m4

	autoreconf -fvi

	./configure --host=$(DEB_HOST_GNU_TYPE) \
	            --build=$(DEB_BUILD_GNU_TYPE) \
		    --prefix=/usr \
		    --sysconfdir=/etc \
		    --mandir=/usr/share/man \
		    --enable-evtest

	$(MAKE)
	touch build-stamp

clean: debian-clean
	dh_clean

debian-clean:
	dh_testdir
	dh_testroot
	rm -f *-stamp 
	
	[ ! -f Makefile ] || $(MAKE) clean
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f config.h.in
	rm -f admin/config.sub admin/config.guess admin/ltmain.sh configure
	rm -f admin/libtool.m4.in aclocal.m4 acinclude.m4
	rm -f admin/missing admin/depcomp admin/install-sh admin/mkinstalldirs
	rm -f lineakd/*.bz2 utils/*.bz2
	rm -rf m4
	find $(CURDIR) -name Makefile -exec rm -f {} \;
	find $(CURDIR) -name Makefile.in -exec rm -f {} \;

	QUILT_PATCHES=debian/patches quilt pop -a -R || test $$? = 2
	rm -rf .pc

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Main install
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	
	#Remove pre-compressed manpage.
	rm -f $(CURDIR)/debian/tmp/usr/share/man/man1/lineakd.1.bz2

	dh_install --list-missing --sourcedir=debian/tmp

	# Remove installed manpages, use dh_installman instead.
	rm -rf $(CURDIR)/debian/tmp/usr/share/man

	# Move keyboard definitions to /usr/share/lineakd
	mv $(CURDIR)/debian/lineakd/etc/lineakkb.def $(CURDIR)/debian/lineakd/usr/share/lineakd

	# Fix rights
	chmod 644 $(CURDIR)/lineakd.conf.kde.example
	chmod 644 $(CURDIR)/lineakd.conf.example

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installcron
	dh_installman
	dh_installinfo
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs -V
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

build: build-stamp

build-stamp:
	dh_testdir
	
	QUILT_PATCHES=debian/patches quilt push -a || test $$? = 2

	#Hideous hack, needs better fix.
	cp $(CURDIR)/admin/acinclude.m4.in $(CURDIR)/acinclude.m4
	cat $(CURDIR)/admin/lineak.m4.in >> $(CURDIR)/acinclude.m4

	mkdir $(CURDIR)/m4

	autoreconf -fvi

	./configure --host=$(DEB_HOST_GNU_TYPE) \
	            --build=$(DEB_BUILD_GNU_TYPE) \
		    --prefix=/usr \
		    --sysconfdir=/etc \
		    --mandir=/usr/share/man \
		    --enable-evtest

	$(MAKE)
	touch build-stamp

clean: debian-clean
	dh_clean

debian-clean:
	dh_testdir
	dh_testroot
	rm -f *-stamp 
	
	[ ! -f Makefile ] || $(MAKE) clean
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f config.h.in
	rm -f admin/config.sub admin/config.guess admin/ltmain.sh configure
	rm -f admin/libtool.m4.in aclocal.m4 acinclude.m4
	rm -f admin/missing admin/depcomp admin/install-sh admin/mkinstalldirs
	rm -f lineakd/*.bz2 utils/*.bz2
	rm -rf m4
	find $(CURDIR) -name Makefile -exec rm -f {} \;
	find $(CURDIR) -name Makefile.in -exec rm -f {} \;

	QUILT_PATCHES=debian/patches quilt pop -a -R || test $$? = 2
	rm -rf .pc

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Main install
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	
	#Remove pre-compressed manpage.
	rm -f $(CURDIR)/debian/tmp/usr/share/man/man1/lineakd.1.bz2

	dh_install --list-missing --sourcedir=debian/tmp

	# Remove installed manpages, use dh_installman instead.
	rm -rf $(CURDIR)/debian/tmp/usr/share/man

	# Move keyboard definitions to /usr/share/lineakd
	mv $(CURDIR)/debian/lineakd/etc/lineakkb.def $(CURDIR)/debian/lineakd/usr/share/lineakd

	# Fix rights
	chmod 644 $(CURDIR)/lineakd.conf.kde.example
	chmod 644 $(CURDIR)/lineakd.conf.example

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installcron
	dh_installman
	dh_installinfo
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs -V
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
